.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(25vh);
  opacity: 0;
}

.ReactModal__Content--after-open{
  transform: translateY(0) scale(1);
  opacity: 1;
}

.ReactModal__Content--before-close{
  transform: scale(1.05);
  opacity: 0;
}