@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基礎顏色 */
:root {
  --c-bg-light: 255, 255 ,255;
  --c-bg-dark: 30, 30, 32;
  --c-text-light: 60, 60, 67;
  --c-text-dark: 245, 245, 240;
  --c-border-light: #cccccc;
  --c-border-dark: #555555;
}

:root {
  --c-bg: var(--c-bg-light);
  --c-bg-inverse: var(--c-bg-dark);
  --c-text: var(--c-text-light);
  --c-text-inverse: var(--c-text-dark);
  --c-border: var(--c-border-light);
}

.dark {
  --c-bg: var(--c-bg-dark);
  --c-bg-inverse: var(--c-bg-light);
  --c-text: var(--c-text-dark);
  --c-text-inverse: var(--c-text-light);
  --c-border: var(--c-border-dark);
}

/* 漸變主體色 */
:root {
  --c-brand: 0, 169, 142;
  --c-brand-light: #4ad1b4;
  --c-brand-lighter: #78fadc;
  --c-brand-dark: #008269;
  --c-brand-darker: #005d47;
  --c-brand-next: 0, 159, 247;
}

@layer utilities {
  .gradient {
    @apply from-primary to-secondary/60 bg-gradient-to-r;
  }
}

@keyframes rainbow {
  0% {
    --c-brand: 0, 169, 142;
    --c-brand-light: #4ad1b4;
    --c-brand-lighter: #78fadc;
    --c-brand-dark: #008269;
    --c-brand-darker: #005d47;
    --c-brand-next: 0, 159, 247;
  }
  1.25% {
    --c-brand: 0, 169, 150;
    --c-brand-light: #4bd1bd;
    --c-brand-lighter: #79fbe5;
    --c-brand-dark: #008371;
    --c-brand-darker: #005e4f;
    --c-brand-next: 0, 157, 250;
  }
  2.5% {
    --c-brand: 0, 169, 159;
    --c-brand-light: #4cd1c6;
    --c-brand-lighter: #7afbee;
    --c-brand-dark: #00837a;
    --c-brand-darker: #005e56;
    --c-brand-next: 0, 155, 252;
  }
  3.75% {
    --c-brand: 0, 169, 167;
    --c-brand-light: #4dd1cf;
    --c-brand-lighter: #7bfbf8;
    --c-brand-dark: #008382;
    --c-brand-darker: #005e5e;
    --c-brand-next: 0, 152, 253;
  }
  5% {
    --c-brand: 0, 169, 176;
    --c-brand-light: #4ed1d7;
    --c-brand-lighter: #7dfaff;
    --c-brand-dark: #00838a;
    --c-brand-darker: #005e65;
    --c-brand-next: 0, 150, 253;
  }
  6.25% {
    --c-brand: 0, 169, 184;
    --c-brand-light: #4fd1e0;
    --c-brand-lighter: #7efaff;
    --c-brand-dark: #008391;
    --c-brand-darker: #005e6d;
    --c-brand-next: 0, 147, 253;
  }
  7.5% {
    --c-brand: 0, 169, 191;
    --c-brand-light: #50d0e8;
    --c-brand-lighter: #7ffaff;
    --c-brand-dark: #008399;
    --c-brand-darker: #005e74;
    --c-brand-next: 46, 144, 252;
  }
  8.75% {
    --c-brand: 0, 168, 199;
    --c-brand-light: #51d0f0;
    --c-brand-lighter: #81f9ff;
    --c-brand-dark: #0082a0;
    --c-brand-darker: #005e7b;
    --c-brand-next: 77, 141, 250;
  }
  10% {
    --c-brand: 0, 168, 207;
    --c-brand-light: #52cff7;
    --c-brand-lighter: #82f8ff;
    --c-brand-dark: #0082a7;
    --c-brand-darker: #005e81;
    --c-brand-next: 99, 138, 248;
  }
  11.25% {
    --c-brand: 0, 167, 213;
    --c-brand-light: #53cfff;
    --c-brand-lighter: #84f8ff;
    --c-brand-dark: #0081ae;
    --c-brand-darker: #005d87;
    --c-brand-next: 117, 135, 245;
  }
  12.5% {
    --c-brand: 0, 164, 219;
    --c-brand-light: #55ceff;
    --c-brand-lighter: #85f7ff;
    --c-brand-dark: #0081b4;
    --c-brand-darker: #005d8d;
    --c-brand-next: 133, 131, 241;
  }
  13.75% {
    --c-brand: 0, 166, 226;
    --c-brand-light: #56cdff;
    --c-brand-lighter: #87f6ff;
    --c-brand-dark: #0080b9;
    --c-brand-darker: #005c93;
    --c-brand-next: 146, 128, 237;
  }
  15% {
    --c-brand: 0, 164, 231;
    --c-brand-light: #57ccff;
    --c-brand-lighter: #88f4ff;
    --c-brand-dark: #007fbf;
    --c-brand-darker: #005b98;
    --c-brand-next: 159, 124, 233;
  }
  16.25% {
    --c-brand: 0, 163, 236;
    --c-brand-light: #58caff;
    --c-brand-lighter: #89f3ff;
    --c-brand-dark: #007ec3;
    --c-brand-darker: #005b9c;
    --c-brand-next: 170, 120, 227;
  }
  17.5% {
    --c-brand: 0, 162, 241;
    --c-brand-light: #58c9ff;
    --c-brand-lighter: #8af1ff;
    --c-brand-dark: #007dc8;
    --c-brand-darker: #0059a0;
    --c-brand-next: 181, 116, 221;
  }
  18.75% {
    --c-brand: 0, 159, 245;
    --c-brand-light: #59c7ff;
    --c-brand-lighter: #8bf0ff;
    --c-brand-dark: #007bcb;
    --c-brand-darker: #0058a3;
    --c-brand-next: 190, 113, 215;
  }
  20% {
    --c-brand: 0, 161, 247;
    --c-brand-light: #5ac5ff;
    --c-brand-lighter: #8ceeff;
    --c-brand-dark: #007ace;
    --c-brand-darker: #0057a6;
    --c-brand-next: 199, 109, 209;
  }
  21.25% {
    --c-brand: 0, 157, 250;
    --c-brand-light: #5ac3ff;
    --c-brand-lighter: #8decff;
    --c-brand-dark: #0078d0;
    --c-brand-darker: #0055a8;
    --c-brand-next: 207, 105, 201;
  }
  22.5% {
    --c-brand: 0, 155, 252;
    --c-brand-light: #5bc1ff;
    --c-brand-lighter: #8de9ff;
    --c-brand-dark: #0076d2;
    --c-brand-darker: #0053aa;
    --c-brand-next: 213, 102, 194;
  }
  23.75% {
    --c-brand: 0, 152, 253;
    --c-brand-light: #5bbfff;
    --c-brand-lighter: #8ee7ff;
    --c-brand-dark: #0074d3;
    --c-brand-darker: #0051ab;
    --c-brand-next: 220, 99, 186;
  }
  25% {
    --c-brand: 0, 150, 253;
    --c-brand-light: #5bbcff;
    --c-brand-lighter: #8ee4ff;
    --c-brand-dark: #0071d4;
    --c-brand-darker: #004fab;
    --c-brand-next: 225, 96, 179;
  }
  26.25% {
    --c-brand: 0, 147, 253;
    --c-brand-light: #5bb9ff;
    --c-brand-lighter: #8ee1ff;
    --c-brand-dark: #006fd3;
    --c-brand-darker: #004dab;
    --c-brand-next: 230, 94, 171;
  }
  27.5% {
    --c-brand: 46, 144, 252;
    --c-brand-light: #69b6ff;
    --c-brand-lighter: #99deff;
    --c-brand-dark: #006cd2;
    --c-brand-darker: #004baa;
    --c-brand-next: 233, 92, 162;
  }
  28.75% {
    --c-brand: 77, 141, 250;
    --c-brand-light: #7eb3ff;
    --c-brand-lighter: #abdbff;
    --c-brand-dark: #0069d1;
    --c-brand-darker: #0048a9;
    --c-brand-next: 237, 90, 154;
  }
  30% {
    --c-brand: 99, 138, 248;
    --c-brand-light: #8fb0ff;
    --c-brand-lighter: #bbd7ff;
    --c-brand-dark: #3066cf;
    --c-brand-darker: #0045a7;
    --c-brand-next: 239, 89, 146;
  }
  31.25% {
    --c-brand: 117, 135, 245;
    --c-brand-light: #9fadff;
    --c-brand-lighter: #cad4ff;
    --c-brand-dark: #4963cc;
    --c-brand-darker: #0941a4;
    --c-brand-next: 241, 89, 137;
  }
  32.5% {
    --c-brand: 133, 131, 241;
    --c-brand-light: #aea9ff;
    --c-brand-lighter: #d8d1ff;
    --c-brand-dark: #5b5fc8;
    --c-brand-darker: #2e3ea1;
    --c-brand-next: 242, 89, 129;
  }
  33.75% {
    --c-brand: 146, 128, 237;
    --c-brand-light: #bca6ff;
    --c-brand-lighter: #e6cdff;
    --c-brand-dark: #6a5cc4;
    --c-brand-darker: #413a9d;
    --c-brand-next: 242, 90, 121;
  }
  35% {
    --c-brand: 159, 124, 233;
    --c-brand-light: #c8a2ff;
    --c-brand-lighter: #f2c9ff;
    --c-brand-dark: #7758c0;
    --c-brand-darker: #503598;
    --c-brand-next: 242, 92, 113;
  }
  36.25% {
    --c-brand: 170, 120, 227;
    --c-brand-light: #d39eff;
    --c-brand-lighter: #fec6ff;
    --c-brand-dark: #8354bb;
    --c-brand-darker: #5c3193;
    --c-brand-next: 241, 94, 105;
  }
  37.5% {
    --c-brand: 181, 116, 221;
    --c-brand-light: #de9bff;
    --c-brand-lighter: #ffc2ff;
    --c-brand-dark: #8d50b5;
    --c-brand-darker: #662c8e;
    --c-brand-next: 239, 96, 97;
  }
  38.75% {
    --c-brand: 190, 113, 215;
    --c-brand-light: #e897ff;
    --c-brand-lighter: #ffbfff;
    --c-brand-dark: #964baf;
    --c-brand-darker: #6f2688;
    --c-brand-next: 237, 99, 90;
  }
  40% {
    --c-brand: 199, 109, 209;
    --c-brand-light: #f194fa;
    --c-brand-lighter: #ffbcff;
    --c-brand-dark: #9e47a9;
    --c-brand-darker: #772082;
    --c-brand-next: 235, 101, 82;
  }
  41.25% {
    --c-brand: 207, 105, 201;
    --c-brand-light: #f991f2;
    --c-brand-lighter: #ffb9ff;
    --c-brand-dark: #a643a2;
    --c-brand-darker: #7e197c;
    --c-brand-next: 232, 105, 75;
  }
  42.5% {
    --c-brand: 213, 102, 194;
    --c-brand-light: #ff8deb;
    --c-brand-lighter: #ffb6ff;
    --c-brand-dark: #ac3f9b;
    --c-brand-darker: #841075;
    --c-brand-next: 228, 108, 68;
  }
  43.75% {
    --c-brand: 220, 99, 186;
    --c-brand-light: #ff8be3;
    --c-brand-lighter: #ffb3ff;
    --c-brand-dark: #b23b94;
    --c-brand-darker: #89046f;
    --c-brand-next: 224, 111, 61;
  }
  45% {
    --c-brand: 225, 96, 179;
    --c-brand-light: #ff88db;
    --c-brand-lighter: #ffb1ff;
    --c-brand-dark: #b7378c;
    --c-brand-darker: #8d0068;
    --c-brand-next: 219, 115, 54;
  }
  46.25% {
    --c-brand: 230, 94, 171;
    --c-brand-light: #ff86d2;
    --c-brand-lighter: #ffaffb;
    --c-brand-dark: #bb3485;
    --c-brand-darker: #910060;
    --c-brand-next: 215, 118, 48;
  }
  47.5% {
    --c-brand: 233, 92, 162;
    --c-brand-light: #ff84ca;
    --c-brand-lighter: #ffadf2;
    --c-brand-dark: #be317d;
    --c-brand-darker: #940059;
    --c-brand-next: 209, 122, 42;
  }
  48.75% {
    --c-brand: 237, 90, 154;
    --c-brand-light: #ff83c1;
    --c-brand-lighter: #fface9;
    --c-brand-dark: #c12f75;
    --c-brand-darker: #970052;
    --c-brand-next: 204, 125, 36;
  }
  50% {
    --c-brand: 239, 89, 146;
    --c-brand-light: #ff82b8;
    --c-brand-lighter: #ffabe0;
    --c-brand-dark: #c32d6d;
    --c-brand-darker: #98004b;
    --c-brand-next: 198, 129, 30;
  }
  51.25% {
    --c-brand: 241, 89, 137;
    --c-brand-light: #ff82af;
    --c-brand-lighter: #ffabd7;
    --c-brand-dark: #c52d65;
    --c-brand-darker: #9a0043;
    --c-brand-next: 191, 132, 24;
  }
  52.5% {
    --c-brand: 242, 89, 129;
    --c-brand-light: #ff82a7;
    --c-brand-lighter: #ffabce;
    --c-brand-dark: #c52e5e;
    --c-brand-darker: #9a003c;
    --c-brand-next: 185, 135, 19;
  }
  53.75% {
    --c-brand: 242, 90, 121;
    --c-brand-light: #ff839e;
    --c-brand-lighter: #ffacc5;
    --c-brand-dark: #c62f56;
    --c-brand-darker: #9a0035;
    --c-brand-next: 178, 138, 15;
  }
  55% {
    --c-brand: 242, 92, 113;
    --c-brand-light: #ff8496;
    --c-brand-lighter: #ffadbc;
    --c-brand-dark: #c5314e;
    --c-brand-darker: #99002e;
    --c-brand-next: 171, 141, 12;
  }
  56.25% {
    --c-brand: 241, 94, 105;
    --c-brand-light: #ff868d;
    --c-brand-lighter: #ffaeb4;
    --c-brand-dark: #c43447;
    --c-brand-darker: #980027;
    --c-brand-next: 163, 144, 11;
  }
  57.5% {
    --c-brand: 239, 96, 97;
    --c-brand-light: #ff8885;
    --c-brand-lighter: #ffb0ab;
    --c-brand-dark: #c3373f;
    --c-brand-darker: #970020;
    --c-brand-next: 156, 146, 13;
  }
  58.75% {
    --c-brand: 237, 99, 90;
    --c-brand-light: #ff8a7d;
    --c-brand-lighter: #ffb2a3;
    --c-brand-dark: #c13b38;
    --c-brand-darker: #940619;
    --c-brand-next: 148, 149, 16;
  }
  60% {
    --c-brand: 235, 101, 82;
    --c-brand-light: #ff8d76;
    --c-brand-lighter: #ffb59b;
    --c-brand-dark: #be3e31;
    --c-brand-darker: #921111;
    --c-brand-next: 139, 151, 21;
  }
  61.25% {
    --c-brand: 232, 105, 75;
    --c-brand-light: #ff8f6e;
    --c-brand-lighter: #ffb794;
    --c-brand-dark: #bb4229;
    --c-brand-darker: #8f1908;
    --c-brand-next: 131, 153, 27;
  }
  62.5% {
    --c-brand: 228, 108, 68;
    --c-brand-light: #ff9367;
    --c-brand-lighter: #ffba8c;
    --c-brand-dark: #b74622;
    --c-brand-darker: #8c1f00;
    --c-brand-next: 122, 155, 33;
  }
  63.75% {
    --c-brand: 224, 111, 61;
    --c-brand-light: #ff9661;
    --c-brand-lighter: #ffbd86;
    --c-brand-dark: #b44a1a;
    --c-brand-darker: #882500;
    --c-brand-next: 113, 157, 39;
  }
  65% {
    --c-brand: 219, 115, 54;
    --c-brand-light: #ff995a;
    --c-brand-lighter: #ffc17f;
    --c-brand-dark: #af4e11;
    --c-brand-darker: #842a00;
    --c-brand-next: 103, 158, 46;
  }
  66.25% {
    --c-brand: 215, 118, 48;
    --c-brand-light: #ff9c54;
    --c-brand-lighter: #ffc47a;
    --c-brand-dark: #ab5206;
    --c-brand-darker: #802f00;
    --c-brand-next: 93, 160, 53;
  }
  67.5% {
    --c-brand: 209, 122, 42;
    --c-brand-light: #fea04f;
    --c-brand-lighter: #ffc774;
    --c-brand-dark: #a55600;
    --c-brand-darker: #7b3300;
    --c-brand-next: 81, 161, 60;
  }
  68.75% {
    --c-brand: 204, 125, 36;
    --c-brand-light: #f8a34a;
    --c-brand-lighter: #ffca70;
    --c-brand-dark: #a05900;
    --c-brand-darker: #773700;
    --c-brand-next: 68, 162, 68;
  }
  70% {
    --c-brand: 198, 129, 30;
    --c-brand-light: #f2a646;
    --c-brand-lighter: #ffce6c;
    --c-brand-dark: #9b5d00;
    --c-brand-darker: #713b00;
    --c-brand-next: 52, 164, 75;
  }
  71.25% {
    --c-brand: 191, 132, 24;
    --c-brand-light: #ebaa42;
    --c-brand-lighter: #ffd168;
    --c-brand-dark: #956000;
    --c-brand-darker: #6c3e00;
    --c-brand-next: 27, 165, 83;
  }
  72.5% {
    --c-brand: 185, 135, 19;
    --c-brand-light: #e4ad3f;
    --c-brand-lighter: #ffd466;
    --c-brand-dark: #8e6300;
    --c-brand-darker: #674100;
    --c-brand-next: 0, 166, 91;
  }
  73.75% {
    --c-brand: 178, 138, 15;
    --c-brand-light: #ddb03d;
    --c-brand-lighter: #ffd764;
    --c-brand-dark: #886600;
    --c-brand-darker: #614400;
    --c-brand-next: 0, 166, 99;
  }
  75% {
    --c-brand: 171, 141, 12;
    --c-brand-light: #d5b33c;
    --c-brand-lighter: #ffda63;
    --c-brand-dark: #816900;
    --c-brand-darker: #5b4700;
    --c-brand-next: 0, 167, 108;
  }
  76.25% {
    --c-brand: 163, 144, 11;
    --c-brand-light: #cdb63c;
    --c-brand-lighter: #f8dd63;
    --c-brand-dark: #7a6b00;
    --c-brand-darker: #554900;
    --c-brand-next: 0, 168, 116;
  }
  77.5% {
    --c-brand: 156, 146, 13;
    --c-brand-light: #c5b83d;
    --c-brand-lighter: #f0e064;
    --c-brand-dark: #736e00;
    --c-brand-darker: #4e4b00;
    --c-brand-next: 0, 168, 125;
  }
  78.75% {
    --c-brand: 148, 149, 16;
    --c-brand-light: #bdbb3e;
    --c-brand-lighter: #e7e366;
    --c-brand-dark: #6c7000;
    --c-brand-darker: #474d00;
    --c-brand-next: 0, 169, 133;
  }
  80% {
    --c-brand: 139, 151, 21;
    --c-brand-light: #b4bd41;
    --c-brand-lighter: #dee668;
    --c-brand-dark: #647200;
    --c-brand-darker: #404f00;
    --c-brand-next: 0, 169, 142;
  }
  81.25% {
    --c-brand: 131, 153, 27;
    --c-brand-light: #abc045;
    --c-brand-lighter: #d4e86c;
    --c-brand-dark: #5c7400;
    --c-brand-darker: #385100;
    --c-brand-next: 0, 169, 150;
  }
  82.5% {
    --c-brand: 122, 155, 33;
    --c-brand-light: #a2c249;
    --c-brand-lighter: #cbea70;
    --c-brand-dark: #537600;
    --c-brand-darker: #2f5200;
    --c-brand-next: 0, 169, 159;
  }
  83.75% {
    --c-brand: 113, 157, 39;
    --c-brand-light: #98c44e;
    --c-brand-lighter: #c1ec75;
    --c-brand-dark: #4a7700;
    --c-brand-darker: #255300;
    --c-brand-next: 0, 169, 167;
  }
  85% {
    --c-brand: 103, 158, 46;
    --c-brand-light: #8ec654;
    --c-brand-lighter: #b7ee7a;
    --c-brand-dark: #407900;
    --c-brand-darker: #185500;
    --c-brand-next: 0, 169, 176;
  }
  86.25% {
    --c-brand: 93, 160, 53;
    --c-brand-light: #84c75a;
    --c-brand-lighter: #acf080;
    --c-brand-dark: #357a0a;
    --c-brand-darker: #015600;
    --c-brand-next: 0, 169, 184;
  }
  87.5% {
    --c-brand: 81, 161, 60;
    --c-brand-light: #79c961;
    --c-brand-lighter: #a1f287;
    --c-brand-dark: #277b16;
    --c-brand-darker: #005700;
    --c-brand-next: 0, 169, 192;
  }
  88.75% {
    --c-brand: 68, 162, 68;
    --c-brand-light: #6dca68;
    --c-brand-lighter: #96f48e;
    --c-brand-dark: #117c1f;
    --c-brand-darker: #005700;
    --c-brand-next: 0, 168, 199;
  }
  90% {
    --c-brand: 52, 164, 75;
    --c-brand-light: #60cc70;
    --c-brand-lighter: #89f595;
    --c-brand-dark: #007d28;
    --c-brand-darker: #005801;
    --c-brand-next: 0, 168, 207;
  }
  91.25% {
    --c-brand: 27, 165, 83;
    --c-brand-light: #51cd77;
    --c-brand-lighter: #7cf69d;
    --c-brand-dark: #007e30;
    --c-brand-darker: #00590d;
    --c-brand-next: 0, 167, 213;
  }
  92.5% {
    --c-brand: 0, 166, 91;
    --c-brand-light: #48ce80;
    --c-brand-lighter: #75f7a6;
    --c-brand-dark: #007f38;
    --c-brand-darker: #005917;
    --c-brand-next: 0, 166, 220;
  }
  93.75% {
    --c-brand: 0, 166, 99;
    --c-brand-light: #48cf88;
    --c-brand-lighter: #75f8ae;
    --c-brand-dark: #008040;
    --c-brand-darker: #005a20;
    --c-brand-next: 0, 166, 226;
  }
  95% {
    --c-brand: 0, 167, 108;
    --c-brand-light: #49cf91;
    --c-brand-lighter: #76f9b7;
    --c-brand-dark: #008049;
    --c-brand-darker: #005b28;
    --c-brand-next: 0, 164, 231;
  }
  96.25% {
    --c-brand: 0, 168, 116;
    --c-brand-light: #49d099;
    --c-brand-lighter: #76f9c0;
    --c-brand-dark: #008151;
    --c-brand-darker: #005c30;
    --c-brand-next: 0, 163, 236;
  }
  97.5% {
    --c-brand: 0, 168, 125;
    --c-brand-light: #49d0a2;
    --c-brand-lighter: #77fac9;
    --c-brand-dark: #008159;
    --c-brand-darker: #005c37;
    --c-brand-next: 0, 162, 241;
  }
  98.75% {
    --c-brand: 0, 169, 133;
    --c-brand-light: #4ad1ab;
    --c-brand-lighter: #77fad3;
    --c-brand-dark: #008261;
    --c-brand-darker: #005d3f;
    --c-brand-next: 0, 160, 244;
  }
  100% {
    --c-brand: 0, 169, 142;
    --c-brand-light: #4ad1b4;
    --c-brand-lighter: #78fadc;
    --c-brand-dark: #008269;
    --c-brand-darker: #005d47;
    --c-brand-next: 0, 159, 247;
  }
}